<h1>Contact's Page</h1>


</ul>
 <li>Name: <%= @contact.first_name.capitalize%> <%= @contact.last_name.capitalize%></li>
 <li>Email: <%= @contact.email %></li>
 <li>Email: <%= @contact.note %></li>
</ul>
<hr>
